.error {
  color: $primary-color;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;

  display: flex;
  max-width: 1440px;
  width: 100%;
  padding-top: 89px;
  padding-bottom: 89px;
  flex-direction: column;
  align-items: center;
  gap: 139px;

  @media (max-width: $mobile-breakpoint) {
    gap: 113px;
    padding-top: 63px;
    padding-bottom: 63px;
  }

  &__404 {
    font-size: 288px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    @media (max-width: $mobile-breakpoint) {
      font-size: 96px;
    }
  }
  &__text {
    font-size: 36px;
    font-weight: 500;

    @media (max-width: $mobile-breakpoint) {
      font-size: 18px;
      width: 260px;
    }
  }
  &__redirect {
    color: inherit;
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 500;
    text-decoration-line: underline;
    &:hover {
      cursor: pointer;
    }

    @media (max-width: $mobile-breakpoint) {
      font-size: 14px;
    }
  }
}
