.home-gallery {
  box-sizing: border-box;
  margin-top: 43px;
  border-radius: 25px;
  background: #f6f6f6;
  max-width: 1240px;
  width: 100%;
  flex-shrink: 0;
  padding: 56px 20px 43px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;

  &__link {
    text-decoration: none;
  }
}
