.header {
  box-sizing: border-box;
  max-width: 1278px;
  width: 100%;
  padding: 0px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  &__logo {
    height: 68px;
    color: $primary-color;
    width: auto;

    @media (max-width: $mobile-breakpoint) {
      height: 46.9px;
    }
  }

  &__navbar {
    display: flex;
    align-items: flex-start;
    gap: 57px;

    @media (max-width: $mobile-breakpoint) {
      gap: 26px;
    }

    &__link {
      text-decoration: none;
      color: $primary-color;
      text-align: right;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%;

      @media (max-width: $mobile-breakpoint) {
        font-size: 12px;
        text-transform: uppercase;
      }

      &--selected {
        text-decoration: underline;
      }
    }
  }
}
