.housing-card {
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;

  &__title {
    height: 340px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );

    & h1 {
      width: 300px;
      color: $white;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%;
    }
  }
}
