.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &__tag {
    border-radius: 10px;
    background: $primary-color;
    width: 115px;
    height: 25px;
    flex-shrink: 0;

    color: $white;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;

    @media (max-width: $mobile-breakpoint) {
      font-size: 10px;
      width: 84px;
      height: 18px;
      line-height: 18px;
    }
  }
}
